.container{
    width: 1000px;
    margin: auto;
    border: solid gray 1px;
    margin-top: 40px;
}

th, td{
    border: solid black 1px;
    word-wrap: break-word;
    text-align: center;
    align-content: center;
}

.container{
    background-color: darkgray;
}

